<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My To Do list App</title>
</head>
<body>
    <form method="PUT" action="{% url "index" %}">
        {% csrf_token %}
        {{form.title}}
        <input type="submit" value="do task">
    </form>

    <div>
        <h3> tasks to do:</h3>
        {% for i in tasks%}
        <a href="{% url 'update' i.id %}"> Update</a>
        <ul>
            <li>{{i}}</li>
        </ul>
    </div>
    {% endfor %}
</body>
</html>